.game{
    width: 300px;
    border: 3px solid black;
    margin: auto;
}
.row{
    display: flex;    
}
.box{
    border: 3px solid black;
    width: 100px;
    height: 100px; 
    background-color: red;
    font-size: 3rem;
    position: relative;
    text-align: center;
}
.box:hover{
    background-color: lightgreen;
}